<div class="error-page">
    <h1>{{title}}</h1>
    <p class="error-message">{{message}}</p>
    
    {{#if error.stack}}
    <details class="error-details">
        <summary>Error Details</summary>
        <pre>{{error.stack}}</pre>
    </details>
    {{/if}}
    
    <a href="/" class="btn">â† Go Home</a>
</div>
